@tailwind base;
@tailwind components;
@tailwind utilities;


body{
 background-color: #1b1c1d;
}


.thought-body{
   background-color: #1b1c1d;
}

.human-desire {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color:whitesmoke;
 
}
.human-desire h1 {
  font-size: 2rem;
  font-weight: 600;
}

.human-desire h2 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

.human-desire p {
  margin-top: 0.75rem;
  line-height: 1.6;
}
.fixed-charmander {
  position: fixed !important;
  bottom: 1rem !important;
  right: 1rem !important;
  z-index: 50 !important; /* make sure it appears on top */
}


